$white: #FFFFFF
$red: #D40000
$black: #232326
$beige: #F3F2F0
body
  font-family: 'Inter', sans-serif
  margin: 0
  padding: 0
  font-size: 14px

.dark
  background-color: $black
  color: $beige

  & .nav__link
    color: $beige

  & .circle circle
    fill: $red

  & .triangle path
    fill: $white

.light
  background-color: $beige
  color: $black

  & .nav__link
    color: $black

  & .nav__link
    color: $beige

  & .circle circle
    fill: $white

  & .triangle path
    fill: $red

.wrapper
  max-width: 1140px
  margin: 0 auto
  padding-right: 15px
  padding-left: 15px

.header
  display: flex
  justify-content: space-between
  padding-top: 40px
  padding-bottom: 60px

.nav
  list-style: none
  display: flex
  padding-left: 0
  margin: 0

  &__items
    padding-left: 16px
    padding-right: 16px

  &__items:first-child
    padding-left: 0

  &__items:last-child
    padding-right: 0

  &__link
    text-decoration-line: none
    font-size: 14px
    line-height: 150%

  &__link:hover
    color: $red

  &_info &__items
    position: relative

  &_info &__items::before
    content: ""
    display: block
    width: 1px
    height: 24px
    background-color: rgba(243, 242, 240, 0.5)
    position: absolute
    left: 0
    top: calc(50% - 12px)

  &_info &__items:first-child::before
    display: none

.photo
  margin-bottom: 120px
  width: 100%

.main
  position: relative
.name
  font-size: 28px
  line-height: 150%

.title-h1
  font-weight: bold
  font-size: 74px
  line-height: 90px
  letter-spacing: 0.03em
  text-transform: uppercase

.social
  display: flex
  justify-content: space-between
  padding-bottom: 60px
  margin-top: 100px

.project
  margin: 0
  font-weight: bold
  font-size: 16px
  line-height: 150%
  color: $beige
  display: flex
  align-items: center

  &__img
    width: 16px
    height: 12px
    display: block
    background-image: url(../img/arrow.svg)
    margin-left: 15px

.skill
  display: flex
  justify-content: space-between

  &__items
    flex: 0 0 24%

.title-h3
  font-weight: bold
  font-size: 16px
  line-height: 150%
  letter-spacing: 0.03em

.skill .title-h3
  text-transform: uppercase
.skill.description
  line-height: 150%

.circle
  &_main
    height: 253px
    width: 253px
    position: absolute
    left: 100px
    top: 0
    z-index: 1

  &_nav
    width: 106px
    height: 106px

.triangle
  position: absolute
  left: 0
  top: 0
  z-index: -2










